{% extends "base.html" %}

{% block title %}Vote 4 Musics - 任务说明{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>标注任务说明</h1>
</div>

<h3>操作步骤：</h3>
<ol>
    <li>标注系统的地址为192.168.168.119，从浏览器进入</li>
    <li>进入后请查看主页上的说明</li>
    <li>点击播放，在新页面听取音乐</li>
    <li>听完一首歌，选择你所认为表达的感情，然后点击提交按钮，如果听过的音乐可以跳过</li>
</ol>
<h3>其他说明：</h3>
<ul>
    <li>每人每天标注10首不重复的歌曲</li>
    <li>因为数据集对后面的场景配乐很重要，所以请大家认真对待</li>
    <li>如果系统出现如错误 500 Internal Server Error，请向谢添鑫反应</li>
    <li>这项任务可能会持续数月</li>
</ul>
{% endblock %}