{% extends "base.html" %}

{% block title %}Vote 4 Musics - Import{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Import New Musics</h1>
</div>
{% if verified %}
{% for message in get_flashed_messages() %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Error: </strong>{{ message }}
    </div>
{% endfor %}
<form method="post">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>name</th>
                <th>play address</th>
                <th>absolute music</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" class="form-control" name="name"></td>
                <td><input type="text" class="form-control" name="url"></td>
                <td><input type="text" class="form-control" name="absolute"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control" name="name"></td>
                <td><input type="text" class="form-control" name="url"></td>
                <td><input type="text" class="form-control" name="absolute"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control" name="name"></td>
                <td><input type="text" class="form-control" name="url"></td>
                <td><input type="text" class="form-control" name="absolute"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control" name="name"></td>
                <td><input type="text" class="form-control" name="url"></td>
                <td><input type="text" class="form-control" name="absolute"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control" name="name"></td>
                <td><input type="text" class="form-control" name="url"></td>
                <td><input type="text" class="form-control" name="absolute"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control" name="name"></td>
                <td><input type="text" class="form-control" name="url"></td>
                <td><input type="text" class="form-control" name="absolute"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control" name="name"></td>
                <td><input type="text" class="form-control" name="url"></td>
                <td><input type="text" class="form-control" name="absolute"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control" name="name"></td>
                <td><input type="text" class="form-control" name="url"></td>
                <td><input type="text" class="form-control" name="absolute"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control" name="name"></td>
                <td><input type="text" class="form-control" name="url"></td>
                <td><input type="text" class="form-control" name="absolute"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control" name="name"></td>
                <td><input type="text" class="form-control" name="url"></td>
                <td><input type="text" class="form-control" name="absolute"></td>
            </tr>
        </tbody>
    </table>
    <input type="submit" class="btn btn-success" value="Submit">
</form>
{% else %}
{% for message in get_flashed_messages() %}
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Success: </strong>{{ message }}
    </div>
{% endfor %}
<div class="row">
    <div class="col-xs-4">
        <form method="post">
            <label for="inputs1">Please input verification code to import musics</label>
            <div class="input-group" id="inputs1">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="password" type="password" class="form-control" name="password" placeholder="Verification code" required="required">
            </div>
            <hr/>
            <input type="submit" class="btn btn-success btn-sm" value="Login">
        </form>
    </div>
</div>
{% endif %}
{% endblock %}