{% extends "base.html" %}

{% block title %}Vote 4 Musics - Import{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>导入新的音乐</h1>
</div>
{% if verified %}
{% for message in get_flashed_messages() %}
    <div class="alert alert-success">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Success: </strong>{{ message }}
    </div>
{% endfor %}
<div class="panel panel-danger">
    <div class="panel-body">
        <p>可以导入多首歌曲，最多10首</p>
        <p>每一行请填写完整</p>
    </div>
</div>
<form method="post">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>歌曲名（格式：演唱者 - 歌曲名，例如：张学友 - 听海）</th>
                <th>播放地址（例如：http://music.163.com/#/song?id=187908）</th>
                <th>是否为纯音乐（填1代表是，0代表不是）</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td><input type="text" class="form-control" name="name"></td>
                <td><input type="text" class="form-control" name="url"></td>
                <td><input type="text" class="form-control" name="absolute"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control" name="name"></td>
                <td><input type="text" class="form-control" name="url"></td>
                <td><input type="text" class="form-control" name="absolute"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control" name="name"></td>
                <td><input type="text" class="form-control" name="url"></td>
                <td><input type="text" class="form-control" name="absolute"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control" name="name"></td>
                <td><input type="text" class="form-control" name="url"></td>
                <td><input type="text" class="form-control" name="absolute"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control" name="name"></td>
                <td><input type="text" class="form-control" name="url"></td>
                <td><input type="text" class="form-control" name="absolute"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control" name="name"></td>
                <td><input type="text" class="form-control" name="url"></td>
                <td><input type="text" class="form-control" name="absolute"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control" name="name"></td>
                <td><input type="text" class="form-control" name="url"></td>
                <td><input type="text" class="form-control" name="absolute"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control" name="name"></td>
                <td><input type="text" class="form-control" name="url"></td>
                <td><input type="text" class="form-control" name="absolute"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control" name="name"></td>
                <td><input type="text" class="form-control" name="url"></td>
                <td><input type="text" class="form-control" name="absolute"></td>
            </tr>
            <tr>
                <td><input type="text" class="form-control" name="name"></td>
                <td><input type="text" class="form-control" name="url"></td>
                <td><input type="text" class="form-control" name="absolute"></td>
            </tr>
        </tbody>
    </table>
    <input type="submit" class="btn btn-success" value="Submit">
</form>
{% else %}
{% for message in get_flashed_messages() %}
    <div class="alert alert-danger">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>Success: </strong>{{ message }}
    </div>
{% endfor %}
<div class="row">
    <div class="col-xs-4">
        <form method="post">
            <label for="inputs1">Please enter verification code to import musics</label>
            <div class="input-group" id="inputs1">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                <input id="password" type="password" class="form-control" name="password" placeholder="Verification code" required="required">
            </div>
            <hr/>
            <input type="submit" class="btn btn-success btn-sm" value="Login">
        </form>
    </div>
</div>
{% endif %}
{% endblock %}