{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}Vote 4 Musics{% endblock %}

{% block page_content %}
<div class="page-header">
    <h1>Vote 4 Musics 音乐情感人工评判系统</h1>
</div>
<p>老铁们，听完一首歌，勾选你认为这首歌所表达的情感(可以多选)，然后点提交</p>
<div class="panel panel-danger">
    <div class="panel-heading">注意事项</div>
    <div class="panel-body">
        <ul>
            <li>复制歌名全名，然后在网易云音乐中搜索再播放即可</li>
            <li>此系统不用登陆，只在一个session内有效，即：不小心关闭了浏览器，重新打开后需要重新投票</li>
            <li>如果遇到自己已经投过的音乐，可以重新投也可以不重新投</li>
            <li>如果想重投，直接勾选你认为表达的感情，然后提交即可</li>
            <li>如果不重投，则不需要勾选任何复选框，直接点提交即可，数据库不会有任何记录</li>
        </ul>
    </div>
</div>
<div class="alert alert-info">
  <strong>注意歌别听错了！</strong> 最好用网易云音乐听，歌曲都是从那里找的，直接复制完整歌名搜索就行了。歌曲全部听完会显示绿色提示信息。
</div>
{% if finish %}
<div class="alert alert-success">
  <strong>已完成！</strong> 关闭页面即可。
</div>
{% else %}
<table class="table table-hover">
    {% if music %}
    <thead>
        <tr>
            <th>歌名</th>
            <th>你认为所表达了哪些情感，选完一首歌后点提交即可</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>{{ music[1] }}</td>
            <td>
                <form method="post">
                    <ul class="list-group">
                        <li class="list-group-item" id="choices">
                            <label class="checkbox-inline"><input type="checkbox" name="choice" value="0">欢乐的</label>
                            <label class="checkbox-inline"><input type="checkbox" name="choice" value="1">思念的</label>
                            <label class="checkbox-inline"><input type="checkbox" name="choice" value="2">恐惧的</label>
                            <label class="checkbox-inline"><input type="checkbox" name="choice" value="3">不安的</label>
                            <label class="checkbox-inline"><input type="checkbox" name="choice" value="4">失落的</label>
                            <label class="checkbox-inline"><input type="checkbox" name="choice" value="5">内疚的</label>
                            <label class="checkbox-inline"><input type="checkbox" name="choice" value="6">妒忌的</label>
                            <label class="checkbox-inline"><input type="checkbox" name="choice" value="7">害羞的</label>
                            <label class="checkbox-inline"><input type="checkbox" name="choice" value="8">祝愿的</label>
                            <br />
                            <label class="checkbox-inline"><input type="checkbox" name="choice" value="9">赞扬的</label>
                            <label class="checkbox-inline"><input type="checkbox" name="choice" value="10">愤怒的</label>
                            <label class="checkbox-inline"><input type="checkbox" name="choice" value="11">神圣的</label>
                            <label class="checkbox-inline"><input type="checkbox" name="choice" value="12">激昂的</label>
                            <label class="checkbox-inline"><input type="checkbox" name="choice" value="13">宏伟的</label>
                            <label class="checkbox-inline"><input type="checkbox" name="choice" value="14">庄严的</label>
                            <label class="checkbox-inline"><input type="checkbox" name="choice" value="15">安心的</label>
                            <label class="checkbox-inline"><input type="checkbox" name="choice" value="16">慌张的</label>
                            <label class="checkbox-inline"><input type="checkbox" name="choice" value="17">憎恶的</label>
                            <br />
                            <label class="checkbox-inline"><input type="checkbox" name="choice" value="18">贬责的</label>
                            <label class="checkbox-inline"><input type="checkbox" name="choice" value="19">惊讶的</label>
                            <label class="checkbox-inline"><input type="checkbox" name="choice" value="20">怀疑的</label>
                            <label class="checkbox-inline"><input type="checkbox" name="choice" value="21">悲伤的</label>
                            <label class="checkbox-inline"><input type="checkbox" name="choice" value="22">温暖的</label>
                            <label class="checkbox-inline"><input type="checkbox" name="choice" value="23">友情的</label>
                            <label class="checkbox-inline"><input type="checkbox" name="choice" value="24">热恋的</label>
                            <label class="checkbox-inline"><input type="checkbox" name="choice" value="25">励志的</label>
                            <label class="checkbox-inline"><input type="checkbox" name="choice" value="26">忧郁的</label>
                        </li>
                        <li class="list-group-item">
                            <button type="submit" class="btn btn-success">提交<span class="badge">(还剩余{{ n }}首歌)</span></button>
                        </li>
                    </ul>
                </form>
            </td>
        </tr>
    </tbody>
    {% else %}
    <div class="alert alert-warning">
        <span class="glyphicon glyphicon-info-sign"></span> <strong>Warning!</strong>
        <p>数据库中没有音乐</p>
    </div>
    {% endif %}
</table>
{% endif %}
{% endblock %}